.App {
  font-size: 12px;
  margin: 0px 20px 20px 20px;
}

.open-btn {
  display: inline-block;
  background: #83ba63;
  border-radius: 24px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
